<template>
  <q-page>
    <!-- <example-component
      title="Example component"
      active
      :todos="todos"
      :meta="meta"
    ></example-component> -->
    <q-table
      :rows="tableData"
      :columns="tableColumns"
      row-key="text"
      :rows-per-page-options="[10, 20, 30]"
      :pagination="pagination"
      class="q-mt-lg"
      :filter="filter"
    >
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Suche"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.name }}
          </q-th>
          <q-th auto-width />
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            <q-btn
              v-if="col.id === 'delete'"
              size="sm"
              color="primary"
              icon="delete"
              @click="removeItem(props.rowIndex)"
            />
            <!-- <div v-else-if="col.id === 'images'">
              <img
                v-for="(image, index) in col.value"
                :key="index"
                :src="image"
                width="30"
                @click="editItem(props.rowIndex)"
              />
            </div> -->
            <span
              v-else
              v-text="col.value"
              @click="editItem(props.rowIndex)"
            ></span>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-btn
      label="Dokument erfassen"
      icon="add"
      @click="newItem"
      class="full-width q-ma-xs"
      color="primary"
    />
    <q-btn
      label="CSV Export"
      icon="download"
      @click="downloadFile"
      class="full-width q-ma-xs"
      color="primary"
      :disable="tableData == null || tableData.length === 0"
    />
    <q-dialog v-model="openDialog" maximized>
      <q-card>
        <q-card-section class="q-ma-none q-pa-none">
          <div
            class="justify-between row text-center"
            style="flex-wrap: nowrap"
          >
            <div class="text-h5 bg-primary q-pa-md col-11" style="color: white">
              Dokument erfassen
            </div>
            <q-btn
              icon="close"
              @click="openDialog = false"
              class="bg-primary col-1"
              style="color: white; vertical-align: top"
              flat
            ></q-btn>
          </div>
          <q-scroll-area
            v-if="selectedItem"
            style="height: 81vh"
            class="q-ma-md"
          >
            <q-input
              label="Titel"
              v-model="selectedItem.title"
              class="q-mb-md"
            />
            <!-- <q-input
              label="Datum"
              type="date"
              :value="selectedItem.date || new Date()"
              @input="selectedItem.date = $event"
              class="q-mb-md"
            /> -->
            <OCR
              :input="selectedItem.text"
              @data="selectedItem.text = $event"
            />
            <speech-to-text
              class="q-ma-xs"
              @new="selectedItem.text = $event"
              @data="selectedItem.text += $event"
            />
            <q-input
              v-model="selectedItem.text"
              type="textarea"
              placeholder="Eingelesene Dokumentdaten ..."
            />
            <div class="row q-mt-md">
              <q-btn
                icon="close"
                stack-label
                label="Schließen"
                color="negative"
                @click="openDialog = false"
                class="col-6"
              />
              <q-btn
                v-if="selectedItem.title != null"
                stack-label
                label="Speichern"
                color="positive"
                @click="updateItem(selectedItem, selectedIndex)"
                class="col-6"
              />
              <q-btn
                v-else
                stack-label
                label="Hinzufügen"
                color="positive"
                icon="check"
                @click="addItem(selectedItem)"
                class="col-6"
                :disable="hasTitle"
              />
            </div>
          </q-scroll-area>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { QTableColumn } from 'quasar';
import OCR from 'src/components/OCR.vue';
import SpeechToText from 'src/components/SpeechToText.vue';

interface TableRow {
  id: string;
  title: string;
  text: string;
}

interface DocumentData {
  id: string;
  title: string;
  date: string;
  editor: string;
  text: string;
}

export default defineComponent({
  components: { OCR, SpeechToText },
  name: 'FilePage',
  data() {
    return {
      openDialog: false,
      pagination: {
        rowsPerPage: 15,
      },
      selectedItem: null as DocumentData | null,
      selectedIndex: -1,
      tableData: [] as TableRow[],
      tableColumns: [
        {
          id: 'delete',
          name: 'Löschen',
          align: 'left',
          field: 'delete',
        },
        {
          id: 'id',
          name: 'ID',
          required: true,
          align: 'left',
          field: 'id',
          sortable: true,
        },
        {
          id: 'title',
          name: 'Titel',
          align: 'left',
          field: 'title',
        },
        {
          id: 'text',
          name: 'Text',
          align: 'left',
          field: 'text',
        },
      ] as unknown as QTableColumn[],
      filter: '',
    };
  },
  methods: {
    // add() {
    //   // this.$emit('add', this.value);
    //   this.close();
    // },
    // update() {
    //   // this.$emit('update', this.value);
    //   this.close();
    // },
    // close() {
    //   // this.stopCapture();
    //   // this.$emit('close');
    // },
    newItem() {
      this.selectedItem = {} as DocumentData;
      this.selectedIndex = -1;
      this.openDialog = true;
    },
    editItem(index: number) {
      this.selectedItem = this.tableData[index] as any;
      this.selectedIndex = index;
      this.openDialog = true;
    },
    updateItem(data: any, index: number) {
      this.tableData[index] = data;
      localStorage.setItem('documents', JSON.stringify(this.tableData));
      this.openDialog = false;
    },
    addItem(data: any) {
      data.id = this.tableData.length + 1;
      this.tableData.push(data);
      localStorage.setItem('documents', JSON.stringify(this.tableData));
      this.openDialog = false;
    },
    hasTitle() {
      return (
        this.selectedItem?.title == null ||
        this.selectedItem?.title == '' ||
        this.selectedItem?.title.length < 3
      );
    },
    removeItem(index: number) {
      this.$q.notify({
        message: 'Dokument löschen?',
        icon: 'delete',
        position: 'center',
        color: 'primary',
        actions: [
          {
            label: 'Ja',
            color: 'white',
            handler: () => {
              this.tableData.splice(index, 1);
              // this.tableData = this.tableData.filter((f) => f.id != id);
              localStorage.setItem('documents', JSON.stringify(this.tableData));
            },
          },
          { label: 'Nein', color: 'white' },
        ],
      });
    },
    getDateString() {
      const d = new Date();
      const m =
        d.getMonth() + 1 < 10 ? '0' + (d.getMonth() + 1) : d.getMonth() + 1;
      const a = d.getDay() < 10 ? '0' + d.getDay() : d.getDay();
      const h = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
      const n = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
      const s = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds();
      return `${d.getFullYear()}-${m}-${a}-${h}-${n}-${s}`;
    },
    jsonToCsv(arr: any[], filterKeys: any[] | undefined = undefined) {
      let csvData = [];
      let keys = Object.keys(arr[0]);
      if (filterKeys) {
        filterKeys.forEach((k) => {
          keys.splice(keys.indexOf(k), 1);
        });
      }
      csvData.push(keys.join(';'));
      arr.forEach((a) => {
        let data: string[] = [];
        keys.forEach((k) => {
          data.push(a[k]);
        });
        csvData.push(data.join(';'));
      });
      return csvData.join('\r\n');
    },
    downloadFile() {
      const data = this.jsonToCsv(this.tableData, ['images']);
      const blob = new Blob([data], { type: 'text/plain' });
      const e = document.createEvent('MouseEvents'),
        a = document.createElement('a');
      a.download = `Dokumente-${this.getDateString()}.csv`;
      a.href = window.URL.createObjectURL(blob);
      a.dataset.downloadurl = ['text/csv', a.download, a.href].join(':');
      e.initEvent('click', true, false);
      a.dispatchEvent(e);
    },
  },
  mounted() {
    let documents = localStorage.getItem('documents');
    if (documents) this.tableData = JSON.parse(documents);
  },
});
</script>
