<template>
  <!-- <video ref="video" width="400" height="300"></video>
  <canvas ref="canvas" style="display: none"></canvas> -->
  <input
    ref="photo"
    type="file"
    accept="image/*"
    @change="handleFileChange"
    style="display: none"
  />
  <q-btn
    icon="camera"
    label="Text Erkennung via Foto"
    class="full-width"
    color="primary"
    @click="takePhoto"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Tesseract from 'tesseract.js';

export default defineComponent({
  name: 'OCR',
  props: {
    input: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      value: {} as any,
      // captureInterval: null as any,
      // video: null as any,
      // canvas: null as any,
      photo: null as any,
    };
  },
  emits: ['data'],
  methods: {
    takePhoto() {
      this.photo.click();
    },
    handleFileChange(event: any) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = async () => {
        const imageData = reader.result;
        this.performOCR(imageData);
      };

      reader.readAsDataURL(file);
    },
    // startCapture() {
    //   navigator.mediaDevices
    //     .getUserMedia({ video: true })
    //     .then((stream) => {
    //       if (this.video) {
    //         this.video.srcObject = stream;
    //         this.video.play();
    //         this.captureInterval = setInterval(this.captureFrame, 1000); // Verzögerung von 1 Sekunde
    //       }
    //     })
    //     .catch((error) => {
    //       console.error('Error accessing camera:', error);
    //     });
    // },
    // stopCapture() {
    //   const stream = this.video.srcObject;
    //   const tracks = stream.getTracks();

    //   tracks.forEach((track: any) => {
    //     track.stop();
    //   });

    //   this.video.srcObject = null;
    // },
    // captureFrame() {
    //   if (!this.video.srcObject || !this.canvas) return;

    //   const context = this.canvas.getContext('2d');
    //   const videoWidth = this.video.videoWidth;
    //   const videoHeight = this.video.videoHeight;
    //   this.canvas.width = videoWidth;
    //   this.canvas.height = videoHeight;

    //   context.drawImage(this.video, 0, 0, videoWidth, videoHeight);

    //   const imageData = this.canvas.toDataURL('image/jpeg');
    //   this.performOCR(imageData);

    //   requestAnimationFrame(this.captureFrame);
    // },
    async performOCR(imageData: any) {
      this.$q.loading.show({ message: 'Daten werden gelesen ...' });
      const {
        data: { text },
      } = await Tesseract.recognize(imageData);
      this.$q.loading.hide();
      // this.value = { text: text };
      this.$emit('data', text);
    },
  },
  mounted() {
    this.value = this.input;
    this.photo = this.$refs.photo;
    // this.video = this.$refs.video;
    // this.canvas = this.$refs.canvas;
    // this.startCapture();
  },
});
</script>
