<template>
  <div class="row">
    <q-btn @click="restartRecording" icon="mic" class="col-6" color="primary">
      Neustarten
    </q-btn>
    <q-btn @click="startRecording" icon="mic" class="col-6" color="primary">
      Fortsetzen
    </q-btn>
  </div>
</template>

<script>
export default {
  props: {
    text: { type: String },
  },
  data() {
    return {};
  },
  emits: ['new', 'data'],
  methods: {
    restartRecording() {
      this.$emit('new', '');
      this.startRecording();
    },
    startRecording() {
      const recognition = new webkitSpeechRecognition();
      recognition.lang = 'de-DE';
      recognition.onresult = (event) => {
        this.$emit('data', event.results[0][0].transcript + '.\r\n');
      };
      recognition.start();
    },
  },
};
</script>
