<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>Dokumenten Scanner</q-toolbar-title>
        <div>v 0.1.0</div>
        <q-btn icon="menu" flat @click="openMenu = !openMenu" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-drawer v-model="openMenu" side="right">
      <q-list>
        <q-item-label header> Menü </q-item-label>
        <q-item>
          <q-btn
            icon="download"
            label="Export"
            class="full-width"
            color="primary"
            @click="exportData"
          />
        </q-item>
        <q-item>
          <q-btn
            icon="upload"
            label="Import"
            class="full-width"
            color="primary"
            @click="openImportDialog = true"
          />
        </q-item>
      </q-list>
    </q-drawer>
  </q-layout>
  <q-dialog v-model="openImportDialog">
    <q-card>
      <q-card-section>
        <input type="file" @change="importData" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'MainLayout',
  data() {
    return {
      openMenu: false,
      openImportDialog: false,
    };
  },
  methods: {
    getDateString() {
      const d = new Date();
      const m =
        d.getMonth() + 1 < 10 ? '0' + (d.getMonth() + 1) : d.getMonth() + 1;
      const a = d.getDay() < 10 ? '0' + d.getDay() : d.getDay();
      const h = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
      const n = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
      const s = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds();
      return `${d.getFullYear()}-${m}-${a}-${h}-${n}-${s}`;
    },
    exportData() {
      const data = localStorage.getItem('indexCards');
      if (data) {
        const blob = new Blob([data], { type: 'text/plain' });
        const e = document.createEvent('MouseEvents'),
          a = document.createElement('a');
        a.download = `export-${this.getDateString()}.json`;
        a.href = window.URL.createObjectURL(blob);
        a.dataset.downloadurl = ['application/json', a.download, a.href].join(
          ':'
        );
        e.initEvent('click', true, false);
        a.dispatchEvent(e);
      }
    },
    importData(event: any) {
      const file = event.target.files[0];
      console.log(file);

      const reader = new FileReader();
      reader.onload = (event) => {
        if (typeof event?.target?.result === 'string') {
          try {
            // console.log(event.target.result);
            localStorage.setItem('indexCards', event.target.result);
            location.reload();
          } catch (error) {
            console.error('Fehler beim Parsen der JSON-Daten:', error);
          }
        }
      };
      reader.readAsText(file, 'utf-8');
    },
  },
});
</script>
